body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.project-info{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
/* table,th,td
{
  text-align: center;
} */

